# Working with DataFrames.jl beyond CSV files

# Part 2: Using Parquet for data larger than RAM

## Bogumił Kamiński
### June 25, 2023

What is covered in part 2:
* how to iteratively create Parquet data store that jointly has more data than available RAM
* how to manually process such data on a single machine (notebook-oriented process)

## Setup

In [1]:
using DataFrames

In [2]:
using Parquet2

In [3]:
using Random

In [4]:
using Statistics

In [5]:
using StatsBase

## Generate some large data

In [6]:
isdir("pq_experiment") && rm("pq_experiment"; recursive=true)

false

In [7]:
mkdir("pq_experiment")

"pq_experiment"

In [8]:
Random.seed!(1234);

Create 500 groups (range `0.0:0.002:1.0`) of data, each having $2^{20}$ = 1,048,576 rows and two `Float64` columns (I could have made it larger, but this should be enough as an example).

In [9]:
let # create local scope for more consistent variable scoping behavior and avoid temporary variable leakage
    i = 1
    df = DataFrame() # temporary data frame to store intermediate results
    maxsize = 10^8 # define size of one chunk of data written to disk
    for μ in 0.0:0.002:1.0
        result = DataFrame(mu=μ, x=randn(2^20) .+ μ)
        append!(df, result) # keep appending data from partial simulations
        if nrow(df) > maxsize # if our data gets to big dump it to a consecutive file
            @info "writing file #$i"
            Parquet2.writefile("pq_experiment/experiment_$i.parquet", @view df[1:maxsize, :])
            deleteat!(df, 1:maxsize) # drop data stored in a file
            i += 1
        end
    end
    if nrow(df) > 0 # if we have some unsaved data store it now
        @info "writing file #$i"
        Parquet2.writefile("pq_experiment/experiment_$i.parquet", df)
    end
end

[ Info: writing file #1
[ Info: writing file #2
[ Info: writing file #3
[ Info: writing file #4
[ Info: writing file #5
[ Info: writing file #6

✏ Parquet2.FileWriter{IOStream}(pq_experiment/experiment_6.parquet)

Note that reading the file is lazy. Actual data is not read yet:

In [10]:
pq_experiment = Parquet2.readfile("pq_experiment", load_initial=true)

≔ Parquet2.Dataset (837645573 bytes)
	1. "mu": Float64
	2. "x": Float64

We have six chunks of data (each corresponding to one file, as we did not create row groups within files):

In [11]:
length(pq_experiment)

6

In [12]:
Parquet2.filelist(pq_experiment)

6-element Vector{FilePathsBase.WindowsPath}:
 p"C:/WORK/dev/DataFramesTutorials/JuliaCon2023-Tutorial/pq_experiment/experiment_1.parquet"
 p"C:/WORK/dev/DataFramesTutorials/JuliaCon2023-Tutorial/pq_experiment/experiment_2.parquet"
 p"C:/WORK/dev/DataFramesTutorials/JuliaCon2023-Tutorial/pq_experiment/experiment_3.parquet"
 p"C:/WORK/dev/DataFramesTutorials/JuliaCon2023-Tutorial/pq_experiment/experiment_4.parquet"
 p"C:/WORK/dev/DataFramesTutorials/JuliaCon2023-Tutorial/pq_experiment/experiment_5.parquet"
 p"C:/WORK/dev/DataFramesTutorials/JuliaCon2023-Tutorial/pq_experiment/experiment_6.parquet"

Note that the last file has less rows than the rest:

In [13]:
nrow.(pq_experiment)

6-element Vector{Int64}:
 100000000
 100000000
 100000000
 100000000
 100000000
  25336576

The challenge we have in this dataset is that the same values of keys (`mu` column) are split across multiple files.

Assume we want to get a mean over all keys. We need to do it in two steps.

This is a standard map-reduce pattern. In this tutorial we perform both steps manually on a single node:

In [14]:
agg1 = map(enumerate(pq_experiment)) do (i, rowset)
    @info "processing chunk of data #$i"
    df = DataFrame(rowset, copycols=false)
    gdf = groupby(df, :mu)
    return combine(gdf, :x => mean, nrow)
end

[ Info: processing chunk of data #1
[ Info: processing chunk of data #2
[ Info: processing chunk of data #3
[ Info: processing chunk of data #4
[ Info: processing chunk of data #5
[ Info: processing chunk of data #6

6-element Vector{DataFrame}:
 96×3 DataFrame
 Row │ mu       x_mean        nrow
     │ Float64  Float64       Int64
─────┼────────────────────────────────
   1 │   0.0    -0.000165159  1048576
   2 │   0.002   0.00181935   1048576
   3 │   0.004   0.00547356   1048576
   4 │   0.006   0.0053043    1048576
   5 │   0.008   0.00748101   1048576
   6 │   0.01    0.0105489    1048576
   7 │   0.012   0.0113697    1048576
   8 │   0.014   0.0133716    1048576
   9 │   0.016   0.0163869    1048576
  10 │   0.018   0.0192935    1048576
  11 │   0.02    0.0198156    1048576
  ⋮  │    ⋮          ⋮           ⋮
  87 │   0.172   0.171104     1048576
  88 │   0.174   0.175584     1048576
  89 │   0.176   0.176103     1048576
  90 │   0.178   0.178837     1048576
  91 │   0.18    0.182103     1048576
  92 │   0.182   0.182695     1048576
  93 │   0.184   0.181319     1048576
  94 │   0.186   0.186327     1048576
  95 │   0.188   0.188068     1048576
  96 │   0.19    0.187567      385280
                       75 rows omitted
 96×3 DataFrame
 Row │ mu       x_mean    nrow
     │ Float64  Float64   Int64
─────┼────────────────────────────
   1 │   0.19   0.190411   663296
   2 │   0.192  0.19314   1048576
   3 │   0.194  0.193709  1048576
   4 │   0.196  0.195765  1048576
   5 │   0.198  0.198623  1048576
   6 │   0.2    0.200585  1048576
   7 │   0.202  0.200626  1048576
   8 │   0.204  0.205575  1048576
   9 │   0.206  0.205889  1048576
  10 │   0.208  0.207115  1048576
  11 │   0.21   0.20955   1048576
  ⋮  │    ⋮        ⋮         ⋮
  87 │   0.362  0.360563  1048576
  88 │   0.364  0.363005  1048576
  89 │   0.366  0.368417  1048576
  90 │   0.368  0.367043  1048576
  91 │   0.37   0.369158  1048576
  92 │   0.372  0.371584  1048576
  93 │   0.374  0.371797  1048576
  94 │   0.376  0.376891  1048576
  95 │   0.378  0.379768  1048576
  96 │   0.38   0.380511   770560
                   75 rows omitted
 97×3 DataFrame
 Row │ mu       x_mean    nrow
     │ Float64  Float64   Int64
─────┼────────────────────────────
   1 │   0.38   0.379609   278016
   2 │   0.382  0.380177  1048576
   3 │   0.384  0.385076  1048576
   4 │   0.386  0.385815  1048576
   5 │   0.388  0.388314  1048576
   6 │   0.39   0.391087  1048576
   7 │   0.392  0.391428  1048576
   8 │   0.394  0.394603  1048576
   9 │   0.396  0.397369  1048576
  10 │   0.398  0.399379  1048576
  11 │   0.4    0.400048  1048576
  ⋮  │    ⋮        ⋮         ⋮
  88 │   0.554  0.553804  1048576
  89 │   0.556  0.557008  1048576
  90 │   0.558  0.558443  1048576
  91 │   0.56   0.559155  1048576
  92 │   0.562  0.5614    1048576
  93 │   0.564  0.565902  1048576
  94 │   0.566  0.565953  1048576
  95 │   0.568  0.567578  1048576
  96 │   0.57   0.570556  1048576
  97 │   0.572  0.574669   107264
                   76 rows omitted
 96×3 DataFrame
 Row │ mu       x_mean    nrow
     │ Float64  Float64   Int64
─────┼────────────────────────────
   1 │   0.572  0.571994   941312
   2 │   0.574  0.573747  1048576
   3 │   0.576  0.575925  1048576
   4 │   0.578  0.57772   1048576
   5 │   0.58   0.578779  1048576
   6 │   0.582  0.582317  1048576
   7 │   0.584  0.585391  1048576
   8 │   0.586  0.585153  1048576
   9 │   0.588  0.587751  1048576
  10 │   0.59   0.5879    1048576
  11 │   0.592  0.593437  1048576
  ⋮  │    ⋮        ⋮         ⋮
  87 │   0.744  0.744916  1048576
  88 │   0.746  0.745429  1048576
  89 │   0.748  0.747461  1048576
  90 │   0.75   0.750765  1048576
  91 │   0.752  0.753685  1048576
  92 │   0.754  0.754218  1048576
  93 │   0.756  0.756017  1048576
  94 │   0.758  0.757438  1048576
  95 │   0.76   0.758445  1048576
  96 │   0.762  0.762476   492544
                   75 rows omitted
 96×3 DataFrame
 Row │ mu       x_mean    nrow
     │ Float64  Float64   Int64
─────┼────────────────────────────
   1 │   0.762  0.762469   556032
   2 │   0.764  0.763604  1048576
   3 │   0.766  0.765431  1048576
   4 │   0.768  0.767295  1048576
   5 │   0.77   0.770628  1048576
   6 │   0.772  0.772683  1048576
   7 │   0.774  0.774978  1048576
   8 │   0.776  0.774604  1048576
   9 │   0.778  0.777869  1048576
  10 │   0.78   0.778066  1048576
  11 │   0.782  0.782015  1048576
  ⋮  │    ⋮        ⋮         ⋮
  87 │   0.934  0.932314  1048576
  88 │   0.936  0.93643   1048576
  89 │   0.938  0.937392  1048576
  90 │   0.94   0.94038   1048576
  91 │   0.942  0.942672  1048576
  92 │   0.944  0.943768  1048576
  93 │   0.946  0.946796  1048576
  94 │   0.948  0.947403  1048576
  95 │   0.95   0.95025   1048576
  96 │   0.952  0.953107   877824
                   75 rows omitted
 25×3 DataFrame
 Row │ mu       x_mean    nrow
     │ Float64  Float64   Int64
─────┼────────────────────────────
   1 │   0.952  0.954526   170752
   2 │   0.954  0.95376   1048576
   3 │   0.956  0.955728  1048576
   4 │   0.958  0.95682   1048576
   5 │   0.96   0.959156  1048576
   6 │   0.962  0.962672  1048576
   7 │   0.964  0.965211  1048576
   8 │   0.966  0.964998  1048576
   9 │   0.968  0.968262  1048576
  10 │   0.97   0.969782  1048576
  11 │   0.972  0.971397  1048576
  ⋮  │    ⋮        ⋮         ⋮
  16 │   0.982  0.980645  1048576
  17 │   0.984  0.985538  1048576
  18 │   0.986  0.986935  1048576
  19 │   0.988  0.987878  1048576
  20 │   0.99   0.990001  1048576
  21 │   0.992  0.993618  1048576
  22 │   0.994  0.994494  1048576
  23 │   0.996  0.995764  1048576
  24 │   0.998  0.999058  1048576
  25 │   1.0    0.999101  1048576
                    4 rows omitted

In [15]:
agg2 = reduce(vcat, agg1)

506×3 DataFrame
 Row │ mu       x_mean        nrow
     │ Float64  Float64       Int64
─────┼────────────────────────────────
   1 │   0.0    -0.000165159  1048576
   2 │   0.002   0.00181935   1048576
   3 │   0.004   0.00547356   1048576
   4 │   0.006   0.0053043    1048576
   5 │   0.008   0.00748101   1048576
   6 │   0.01    0.0105489    1048576
   7 │   0.012   0.0113697    1048576
   8 │   0.014   0.0133716    1048576
   9 │   0.016   0.0163869    1048576
  10 │   0.018   0.0192935    1048576
  11 │   0.02    0.0198156    1048576
  ⋮  │    ⋮          ⋮           ⋮
 497 │   0.982   0.980645     1048576
 498 │   0.984   0.985538     1048576
 499 │   0.986   0.986935     1048576
 500 │   0.988   0.987878     1048576
 501 │   0.99    0.990001     1048576
 502 │   0.992   0.993618     1048576
 503 │   0.994   0.994494     1048576
 504 │   0.996   0.995764     1048576
 505 │   0.998   0.999058     1048576
 506 │   1.0     0.999101     1048576
                      485 rows omitted

In [16]:
agg3 = combine(groupby(agg2, :mu)) do sdf
    return (; x_mean = mean(sdf.x_mean, Weights(sdf.nrow)))
end

501×2 DataFrame
 Row │ mu       x_mean
     │ Float64  Float64
─────┼───────────────────────
   1 │   0.0    -0.000165159
   2 │   0.002   0.00181935
   3 │   0.004   0.00547356
   4 │   0.006   0.0053043
   5 │   0.008   0.00748101
   6 │   0.01    0.0105489
   7 │   0.012   0.0113697
   8 │   0.014   0.0133716
   9 │   0.016   0.0163869
  10 │   0.018   0.0192935
  11 │   0.02    0.0198156
  ⋮  │    ⋮          ⋮
 492 │   0.982   0.980645
 493 │   0.984   0.985538
 494 │   0.986   0.986935
 495 │   0.988   0.987878
 496 │   0.99    0.990001
 497 │   0.992   0.993618
 498 │   0.994   0.994494
 499 │   0.996   0.995764
 500 │   0.998   0.999058
 501 │   1.0     0.999101
             480 rows omitted

Other common possible scenarios:

* using multiple-threads for in-core data
* using several machines in a cluster

What I presented above gives full flexibility, but requires manual handling of reduction.

For common operations [DTables.jl](https://github.com/JuliaParallel/DTables.jl) provides distributed table structures and data manipulation operations built on top of Dagger.jl.

In part 3 we discuss some limitations of Parquet format that one needs to keep in mind when working with it.

*Preparation of this worksop has been supported by the Polish National Agency for Academic Exchange under the Strategic Partnerships programme, grant number BPI/PST/2021/1/00069/U/00001.*

![SGH & NAWA](logo.png)